.main-text {
  margin-top: 10vw;
  font-size: 5vw;
  margin-bottom: 10vw;
  color: white;
}
.image {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.address {
  background-color: #0F0F0F;
  width: 50%;
  margin: 70px auto;
  border: 1px solid red;
  color: white;
}
.order-ticket {
  display: flex;
  justify-content: center;
  color: black;
  border: none;
  margin-bottom: 30px;
}
.buy-button {
  width: 20%;
  height: 40px;
}
