.bigimg {
  margin:0;
  width:100%
}
p {
  display: block;
  color: #E0E0E0;
  font-size: 22px;
  margin-left: 10%;
  margin-right: 10%;
}
.subtitle {
  margin: 0;
  padding-left: 10%;
  font-size: 35px;
  color: #FFFFFF;
  text-align: left;
  text-transform: uppercase;
}
.bg-album {
    background-color: #ffffff;
    color: #555555;
}
.album-name {
  display: block;
  width: 50%;
  float: left;
  margin: 0;
}
.album-name b {
  display: block;
  font-size: 5vw;
  width: 100%;
  height: auto;
  padding-top: 40%;
  text-align: center;
}
.album-logo {
  display: block;
  width: 50%;
  margin: 0px;
  float: right;
}
.album-logo img {
  width: 100%;
}
.bg-main {
  background-color: #474e5d;
  color: #ffffff;
}
