body{
  margin: 0;
  background-color: #000000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  position: fixed;
  width: 100%;
}
li {
  float: left;
}
li img {
  max-height: 42px;
  align: center;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  min-width: 120px;
}
.navbar li:hover, .dropdown:hover .dropdown-button {
  background-color: #111;
}
.dropdown .dropdown-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 120px;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #333;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #111;
}
.bigimg {
  margin:0;
  width:100%
}
p {
  margin-top: 50px;
  display: block;
  color: #E0E0E0;
  font-size: 22px;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
.subtitle {
  font-size: 25px;
  color: #808080;
  text-align: left;
  text-decoration: overline;
  text-decoration-style: double;
  text-transform: uppercase;
  margin-top: 60px;
}
.biography-text {
  color: #E0E0E0;
}
.best-album-name {
  margin-left: 10%;
  margin-right: 10%;
}
.best-album-name .album-name {
  font-size: 60px;
  float: left;
}
.best-album-name .album-name span {
  color: #9933FF;
}
.best-album-name .album-name {
  margin: 220px;
}
.best-album-name img {
  float: right;
  max-width: 40%;
  margin-bottom: 100px;
}
.resources a {
  color: #FFFFFF;
  font-size: 17px;
  text-decoration: none;
}
footer .resources {
  border-width: 1px;
  border-color: white;
}
