body{
  margin: 0;
  background-color: #000000;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  position: fixed;
  width: 100%;
}
li img {
  max-height: 42px;
  align: center;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  min-width: 120px;
}
.navbar li a {
  animation-name: fromTop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.navbar li:hover, .dropdown:hover .dropdown-button {
  background-color: #111;
}
.dropdown .dropdown-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 120px;
  animation-name: fromTop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #333;
  z-index: 1;
  animation-name: fromTop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #111;
}
.bigimg {
  margin:0;
  width:100%
}
.logo {
  left: 0;
  position: absolute;
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.admin {
  right: 0;
  position: absolute;
}
p {
  margin-top: 50px;
  display: block;
  color: #E0E0E0;
  font-size: 22px;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
.subtitle {
  font-size: 25px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: overline;
  text-decoration-style: double;
  text-transform: uppercase;
  margin-top: 60px;
}
.biography-text {
  color: #E0E0E0;
}
.best-album-name {
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
.best-album-name .album-name {
  font-size: 40px;
  float: left;
}
.best-album-name .album-name span {
  color: #9933FF;
}
.best-album-name .album-name {
  margin-left: 270px;
  margin-top: 300px;
  font-family: sans-serif;
}
.best-album-name img {
  float: right;
  max-width: 40%;
  margin-bottom: 100px;
  margin-top: 100px;
}
.resources a {
  color: #FFFFFF;
  font-size: 17px;
  text-decoration: none;
}
footer {
  bottom: 0px;
  width: 100%;
  clear: right;
  text-align: center;
}
@keyframes appear {
  0%{opacity:0;transform: rotateX(0deg);}
  50%{opacity: 0.5;transform: rotateX(180deg);}
  100%{opacity:1;transform: rotateX(0deg);}
}
@keyframes fromTop{
	0% { opacity: 0; transform: translateY(-50px); z-index: -1;}
  90% { z-index: -1;}
	100% { opacity: 1; transform: translateY(0px); z-index: 1;}
}
