.bigimg {
  margin:0;
  width:100%
}
@keyframes transformer {
  from{color:#FFFFFF;}
  50% {font-size: 9vw; color:red;}
  to{color:#FFFFFF;}
}
.title {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  animation-name: transformer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.table {
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  border-spacing: 0;
  border-collapse: collapse;
}
th, td {
  border-width: 1px;
  border-color: white;
  border: solid;
  color: white;
  height: 70px;
  width: 33.33%;
  font-size: 5vw;
  text-align: center;
}
tr:hover td {
    background-color: #FF3333;
}
