<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Txurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" text="text/css" href="../css/general.css">
    <link rel="stylesheet" text="text/css" href="../css/tour_schedule.css">
  </head>
  <body>
    <header class="stiky-top">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand">
          <img  class="appear logo img-rounded" src="../images/small_logo.jpg" alt="[LOGO]">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
          <ul class="navbar-nav from-top">
            <li class="nav-item">
              <a href="main.html" class="nav-link">Main</a>
            </li>
            <li class="nav-item">
              <a href="news.html" class="nav-link">News</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle nav-link active" id="navbardrop" data-toggle="dropdown">
                  For fans
                </a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">
                    Fan club
                  </a>
                  <a href="tour_schedule.html" class="dropdown-item">
                    Tour schedule
                  </a>
                  <a href="#" class="dropdown-item">
                    Lyrics
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="fans_appeal.html">Fans appeal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="concert_venue.html">Cxncert venue</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link admin" href="admin.html">Admin</a>
            </li>
          </ul>
        </div>
      </nav>
      <img class="bigimg" src="../images/all_stars.jpg" alt="[SCARLXRD]">
    </header>
    <main>
      <p class="title">TOUR SCHEDULE</p>
      <div class="table-responsive">
        <table class="table table-hover table-dark">
          <thead class="thead-light">
            <tr>
              <th>Date</th>
              <th>City</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>20.09.19</td>
              <td>Peterburg</td>
              <td>7pm</td>
            </tr>
            <tr>
              <td>21.09.19</td>
              <td>Orlando</td>
              <td>6pm</td>
            </tr>
            <tr>
              <td>23.09.19</td>
              <td>Jacksonville</td>
              <td>8pm</td>
            </tr>
            <tr>
              <td>21.10.19</td>
              <td>Kyiv</td>
              <td>8pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer class="stiky-bottom bg-footer text-center">
      <a href="#">
        DimaAntoniuk
      </a>
    </footer>
  </body>
</html>
