<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Txurs</title>
    <link rel="stylesheet" text="text/css" href="../css/tour_schedule.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar">
          <ul>
            <li>
              <img class="logo" src="../images/small_logo.jpg" alt="[LOGO]">
            </li>
            <li>
              <a href="main.html">Main</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropdown-button">
                  <span>Fxr fans</span>
                </button>
                <div class="dropdown-content">
                  <a href="#">Fan clubs</a>
                  <a href="#">Txur schedule</a>
                  <a href="#">Lyrics</a>
                </div>
              </div>
            </li>
            <li>
              <a href="#">Fans appeal</a>
            </li>
            <li>
              <a href="#">Cxncert venue</a>
            </li>
            <li style="float:right">
              <a href="#">Admin</a>
            </li>
          </ul>
        </div>
      </nav>
      <span class="text_on_image">SCARLXRD</span>
      <img class="bigimg" src="../images/all_stars.jpg" alt="[SCARLXRD]">
    </header>
    <main>
      <p class="title">TOUR SCHEDULE</p>
      <table>
         <tr>
           <th>Date</th>
           <th>City</th>
           <th>Time</th>
         </tr>
         <tr>
           <td>20.09.19</td>
           <td>Peterburg</td>
           <td>7pm</td>
         </tr>
         <tr>
           <td>21.09.19</td>
           <td>Orlando</td>
           <td>6pm</td>
         </tr>
         <tr>
           <td>23.09.19</td>
           <td>Jacksonville</td>
           <td>8pm</td>
         </tr>
         <tr>
           <td>21.10.19</td>
           <td>Kyiv</td>
           <td>8pm</td>
         </tr>
      </table>
    </main>
    <footer>
      <div class="resources">
        <a href="https://www.songkick.com/artists/9238934-scarlxrd">recources</a>
      </div>
    </footer>
  </body>
</html>
